In [1]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()
from collections import Counter

In [3]:
labels = ['Account number', 'account no.', 'account id', 'account num', 'a/c number', 'a/c no.', 'a/c num', 'bank account number', 'savings bank account number', 'savings bank accout no.', 'deposit account number', 'Current account number', 'checking account number', 'checking account num', 'checking account no.']

In [8]:
class AccountNumberGenerator:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        self.f = Faker()

    def generateAccountNumberData(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for i in range(self.num_of_samples):

            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 10)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 11)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 12)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 13)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 14)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 15)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 16)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 17)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 18)
            input_list, output_list = self.generateAccountNumber(labels, input_list, output_list, 19)
            
        return input_list, output_list
    def generateAccountNumber(self, labels, input_list, output_list, length):
        start_number = '0000' + str(random.randint(a=0, b=9))
        label = random.choice(labels)
        input_following_random_number = self.generate_random_number(length-4)
        output_following_random_number = self.generate_random_number(length-4)
        input_pin = start_number + input_following_random_number
        output_pin = start_number + output_following_random_number

        input_list.append(label + ': ' + input_pin)
        output_list.append(output_pin)

        return input_list, output_list
    def generate_random_number(self, length):
        start = eval(''.join(['1'] + ['0' for i in range(1, length-1)]))
        end = eval(''.join(['9' for i in range(1, length)]))

        start = int(eval('1' + str(start)))
        end = int(eval('9' + str(end)))


        random_number = str(random.randint(a=start, b=end))
        return random_number

In [9]:
accountNumberGenerator = AccountNumberGenerator(num_of_samples = 300)

In [10]:
input, output = accountNumberGenerator.generateAccountNumberData(labels)

In [11]:
list(zip(input, output))[:20]

[('depositAccountNumber: 00006923144', '00006857124'),
 ('Checking Account Num: 000045324315', '000048817289'),
 ('ACCOUNT NO.: 0000860250825', '0000865185860'),
 ('savings_bank_accout_no.: 00006124105871', '00006640514565'),
 ('A/CNUM: 000085712898420', '000083585533534'),
 ('account_no.: 0000860184843783', '0000825446933727'),
 ('SavingsBankAccountNumber: 00008772903780928', '00008461806384549'),
 ('DEPOSITACCOUNTNUMBER: 000078620974566185', '000075752305264434'),
 ('savingsbankaccountnumber: 0000247378586292122', '0000254311170813056'),
 ('CheckingAccountNo.: 00005687100074333276', '00005488230500419081'),
 ('checking account no.: 00009161265', '00009240524'),
 ('depositaccountnumber: 000096775850', '000099482042'),
 ('checking account number: 0000174414334', '0000120539580'),
 ('SAVINGS-BANK-ACCOUNT-NUMBER: 00006228958426', '00006269061264'),
 ('A/CNUM: 000003845203008', '000003899208596'),
 ('checking account no.: 0000081796958475', '0000018922062558'),
 ('a/c_number: 00003900099959126', '00003404079652520'),
 ('A/CNO.: 000073352149989596', '000078556821244478'),
 ('CURRENTACCOUNTNUMBER: 0000112372377373887', '0000133074912547771'),
 ('DEPOSITACCOUNTNUMBER: 00002428527154163918', '00002913111603161133')]

In [12]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [13]:
res['input_entity'] = input
res['output_entity'] = output

In [14]:
len(res)

3000

In [17]:
res.to_csv('account_data.csv', index=False)

In [18]:
res

                                    input_entity         output_entity
0              depositAccountNumber: 00006923144           00006857124
1             Checking Account Num: 000045324315          000048817289
2                     ACCOUNT NO.: 0000860250825         0000865185860
3        savings_bank_accout_no.: 00006124105871        00006640514565
4                        A/CNUM: 000085712898420       000083585533534
...                                          ...                   ...
2995        checkingaccountnum: 0000257741294192      0000241950907188
2996                a/cnumber: 00004687941830667     00004755407474966
2997                 a/c_no.: 000003428616752592    000001844430380441
2998   checking_account_no.: 0000958771514214813   0000978451037544752
2999  CURRENTACCOUNTNUMBER: 00001895288901813122  00001218364088243119

[3000 rows x 2 columns]