In [1]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()
from collections import Counter

In [2]:
labels = ['FICO score', 'cibil score', 'cibil', 'fico', 'credit score', 'credit rating']

In [10]:
class CIBILScoreGenerator:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        self.f = Faker()

    def generateCIBILScore(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for i in range(self.num_of_samples):
            label = random.choice(labels)
            input_fico_score = str(random.randint(a=300, b=850))
            output_fico_score = str(random.randint(a=300, b=850))

            input_list.append(label + ': ' + input_fico_score)
            output_list.append(output_fico_score)
        return input_list, output_list

In [11]:
cibilScoreGenerator = CIBILScoreGenerator(num_of_samples=300)

In [12]:
input, output = cibilScoreGenerator.generateCIBILScore(labels)

In [13]:
list(zip(input, output))[:20]

[('CREDIT-RATING: 848', '544'),
 ('CIBIL_SCORE: 820', '518'),
 ('CreditScore: 369', '705'),
 ('credit rating: 609', '757'),
 ('CREDIT-RATING: 793', '659'),
 ('cibil score: 387', '755'),
 ('CREDIT-SCORE: 473', '415'),
 ('fico score: 657', '753'),
 ('creditscore: 600', '336'),
 ('fico_score: 380', '582'),
 ('credit score: 434', '367'),
 ('CREDIT SCORE: 332', '797'),
 ('CIBIL SCORE: 697', '606'),
 ('fico_score: 343', '678'),
 ('CREDIT SCORE: 716', '379'),
 ('CREDIT RATING: 499', '623'),
 ('FICO SCORE: 809', '673'),
 ('Credit-Score: 549', '770'),
 ('ficoscore: 449', '803'),
 ('FICO_SCORE: 336', '368')]

In [14]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [15]:
res['input_entity'] = input
res['output_entity'] = output

In [16]:
len(res)

300

In [17]:
res.to_csv('cibilscore_data.csv', index=False)

In [18]:
res

           input_entity output_entity
0    CREDIT-RATING: 848           544
1      CIBIL_SCORE: 820           518
2      CreditScore: 369           705
3    credit rating: 609           757
4    CREDIT-RATING: 793           659
..                  ...           ...
295    CREDITSCORE: 751           459
296     fico score: 797           739
297     CIBILSCORE: 325           602
298  Credit Rating: 302           382
299  credit_rating: 407           778

[300 rows x 2 columns]