In [1]:
from faker import Faker
import random
from generatorUtils import LabelTransformations

In [9]:
labels = ['day', 'day of the month', 'day number']

In [14]:
class DayNumberGenerator:
    def __init__(self, num_of_samples):
        self.num_of_samples = num_of_samples
        self.labelTransformations = LabelTransformations()
        self.f = Faker()

    def generateDay(self, labels):
        labels = list(set(self.labelTransformations(labels)))

        inputs = []
        outputs = []

        for i in range(self.num_of_samples):
            label = random.choice(labels)
            input_day = self.f.day_of_month()
            output_day = self.f.day_of_month()
            inputs.append(label + ': ' + input_day)
            outputs.append(output_day)
        return inputs, outputs

In [23]:
dayNumberGenerator = DayNumberGenerator(num_of_samples=3000)

In [24]:
input, output = dayNumberGenerator.generateDay(labels)

In [25]:
list(zip(input, output))[:20]

[('day_number: 11', '03'),
 ('Day-Of-The-Month: 23', '15'),
 ('Day: 11', '23'),
 ('DAY_OF_THE_MONTH: 30', '12'),
 ('day: 07', '21'),
 ('day_number: 09', '20'),
 ('day-of-the-month: 16', '17'),
 ('DayOfTheMonth: 21', '25'),
 ('day-of-the-month: 09', '30'),
 ('day_number: 01', '13'),
 ('day: 16', '01'),
 ('dayNumber: 01', '16'),
 ('Day: 06', '16'),
 ('DAY: 19', '02'),
 ('Day: 01', '26'),
 ('DAY_OF_THE_MONTH: 26', '04'),
 ('day_number: 21', '29'),
 ('day number: 19', '23'),
 ('dayofthemonth: 26', '17'),
 ('DAY NUMBER: 24', '05')]

In [26]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [27]:
res['input_entity'] = input
res['output_entity'] = output

In [28]:
len(res)

3000

In [29]:
res.to_csv('day_data.csv', index=False)

In [30]:
res

              input_entity output_entity
0           day_number: 11            03
1     Day-Of-The-Month: 23            15
2                  Day: 11            23
3     DAY_OF_THE_MONTH: 30            12
4                  day: 07            21
...                    ...           ...
2995        DAY_NUMBER: 29            20
2996  DAY_OF_THE_MONTH: 06            29
2997        DAY-NUMBER: 05            10
2998        DAY-NUMBER: 01            31
2999  Day_Of_The_Month: 09            16

[3000 rows x 2 columns]