In [4]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()
from collections import Counter

In [5]:
labels = ['first name', 'employee first name', 'candidate first name', 
'Contestant first name', '1st name', 'parent first name', 
"Father's first name", "Mother's first name",
"recipient first name", "student first name"]

In [6]:
class FirstNameGenerators:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        

        self.locales = ['en_AU', 'en_CA', 'en_GB', 'en_IE', 'en_IN', 'en_NZ', 'en_PH', 'en_TH', 'en_US']

    def generateFirstNames(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for locale in self.locales:
            self.f = Faker(locale=locale)

            for i in range(self.num_of_samples):
                label = random.choice(labels)
                input_first_name = self.f.first_name_male()
                output_first_name = self.f.first_name_male()
                input_list.append(label + ': ' + input_first_name)
                output_list.append(output_first_name)

                label = random.choice(labels)
                input_first_name = self.f.first_name_female()
                output_first_name = self.f.first_name_female()
                input_list.append(label + ': ' + input_first_name)
                output_list.append(output_first_name)
        return input_list, output_list

In [7]:
firstNameGenerators = FirstNameGenerators(num_of_samples=300)

In [8]:
input, output = firstNameGenerators.generateFirstNames(labels)

In [9]:
list(zip(input, output))[:20]

[('candidate_first_name: James', 'Chris'),
 ('RecipientFirstName: Lisa', 'Emma'),
 ("father's_first_name: Joshua", 'Daniel'),
 ('employee_first_name: April', 'Sarah'),
 ("Mother'S_First_Name: John", 'Charles'),
 ('CONTESTANT FIRST NAME: Jennifer', 'Shannon'),
 ("mother'sfirstname: Spencer", 'Jacob'),
 ('CONTESTANT-FIRST-NAME: Tonya', 'Elizabeth'),
 ('First Name: Oscar', 'Kyle'),
 ('Parent First Name: Valerie', 'Tina'),
 ('employeeFirstName: Darren', 'Ian'),
 ('Contestant First Name: Gloria', 'Taylor'),
 ("mother's-first-name: Johnathan", 'Michael'),
 ('1ST NAME: Vanessa', 'Maria'),
 ('Contestant_First_Name: Thomas', 'Douglas'),
 ('recipient_first_name: Gabrielle', 'Jennifer'),
 ('contestant_first_name: Dennis', 'Evan'),
 ("Father'S First Name: Brooke", 'Allison'),
 ("father's_first_name: Sean", 'Philip'),
 ('Student_First_Name: Madison', 'Nicole')]

In [10]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [11]:
res['input_entity'] = input
res['output_entity'] = output

In [12]:
len(res)

5400

In [13]:
res.to_csv('FirstName_data.csv', index=False)

In [14]:
res

                       input_entity output_entity
0       candidate_first_name: James         Chris
1          RecipientFirstName: Lisa          Emma
2       father's_first_name: Joshua        Daniel
3        employee_first_name: April         Sarah
4         Mother'S_First_Name: John       Charles
...                             ...           ...
5395            1st-name: Christine     Christina
5396     father'sFirstName: William       William
5397  candidate first name: Jessica      Courtney
5398   recipient-first-name: Travis        Robert
5399    Mother'S First Name: Tracey         Susan

[5400 rows x 2 columns]