In [5]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()

In [6]:
labels = ['full name', 'employee full name', 'candidate full name', 
'Contestant full name', 'parent full name', 
"Father's full name", "Mother's full name",
"recipient full name", "student full name", "name", "Name on the card", "Name in the ID"]

In [7]:
class FullNameGenerators:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        

        self.locales = ['en_AU', 'en_CA', 'en_GB', 'en_IE', 'en_IN', 'en_NZ', 'en_PH', 'en_TH', 'en_US']

    def generateFullNames(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for locale in self.locales:
            self.f = Faker(locale=locale)

            for i in range(self.num_of_samples):
                label = random.choice(labels)
                input_last_name = self.f.name_male()
                output_last_name = self.f.name_male()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)

                label = random.choice(labels)
                input_last_name = self.f.name_female()
                output_last_name = self.f.name_female()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)
        return input_list, output_list

In [8]:
fullNameGenerators = FullNameGenerators(num_of_samples=300)

In [9]:
input, output = fullNameGenerators.generateFullNames(labels)

In [10]:
list(zip(input, output))[:20]

[('Name-In-The-Id: Antonio Watson', 'Ronald Fleming'),
 ("mother's full name: Amber Rush", 'Brittany Bryant'),
 ('CandidateFullName: Luis Brown', 'Matthew Crane'),
 ('NAMEONTHECARD: Christine Kelly', 'Katrina Jensen'),
 ('student-full-name: Gabriel Cross', 'Kenneth Smith'),
 ('PARENT_FULL_NAME: Rhonda Ashley', 'Nancy Golden'),
 ('NameInTheId: Erik Hanson', 'Nicholas Mills'),
 ('nameInTheId: Emily Paul', 'Jillian Parrish'),
 ('recipientFullName: David Taylor', 'Kevin Hines'),
 ('nameintheid: Sabrina Bradshaw', 'Jennifer Li'),
 ('Recipient-Full-Name: Chris Clark', 'Robert Williams'),
 ("Mother'S_Full_Name: Danielle Morris DDS", 'Angela Hayes'),
 ('FullName: Marcus Wilson', 'John Martinez'),
 ("father's_full_name: Kelsey Erickson", 'Rose Hawkins'),
 ('RECIPIENT FULL NAME: Chad Marshall', 'James Humphrey'),
 ('full-name: Lori Martinez', 'Jane Drake'),
 ('full-name: Charles Joyce', 'Joseph Mccormick'),
 ('StudentFullName: Vickie Roberts', 'Sheri Phillips'),
 ("father'sfullname: Michael Sexton", 'Michael Cunningham'),
 ('employee full name: Heather George', 'Amy Morrison')]

In [11]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [12]:
res['input_entity'] = input
res['output_entity'] = output

In [13]:
len(res)

5400

In [14]:
res.to_csv('FullName_data.csv', index=False)

In [15]:
res

                              input_entity    output_entity
0           Name-In-The-Id: Antonio Watson   Ronald Fleming
1           mother's full name: Amber Rush  Brittany Bryant
2            CandidateFullName: Luis Brown    Matthew Crane
3           NAMEONTHECARD: Christine Kelly   Katrina Jensen
4         student-full-name: Gabriel Cross    Kenneth Smith
...                                    ...              ...
5395               full name: Sharon Mayer     Rebecca Hall
5396   candidatefullname: Benjamin Jackson    Joseph Wilson
5397  contestant full name: Lauren Oconnor    Theresa Henry
5398              full_name: Aaron Andrade   Roy Washington
5399      RECIPIENT_FULL_NAME: Katie Moran    Felicia Moses

[5400 rows x 2 columns]