In [1]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()

In [3]:
labels = ['last name', 'employee last name', 'candidate last name', 
'Contestant last name', 'parent last name', 
"Father's last name", "Mother's last name",
"recipient last name", "student last name", "family name", "surname"]

In [5]:
class LastNameGenerators:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        

        self.locales = ['en_AU', 'en_CA', 'en_GB', 'en_IE', 'en_IN', 'en_NZ', 'en_PH', 'en_TH', 'en_US']

    def generateLastNames(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for locale in self.locales:
            self.f = Faker(locale=locale)

            for i in range(self.num_of_samples):
                label = random.choice(labels)
                input_last_name = self.f.last_name_male()
                output_last_name = self.f.last_name_male()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)

                label = random.choice(labels)
                input_last_name = self.f.last_name_female()
                output_last_name = self.f.last_name_female()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)
        return input_list, output_list

In [6]:
lastNameGenerators = LastNameGenerators(num_of_samples=300)

In [7]:
input, output = lastNameGenerators.generateLastNames(labels)

In [8]:
list(zip(input, output))[:20]

[('familyname: Fernandez', 'Garcia'),
 ('FAMILYNAME: Jones', 'Farmer'),
 ('EMPLOYEE_LAST_NAME: Hanson', 'Myers'),
 ('StudentLastName: Olson', 'Tucker'),
 ('FAMILYNAME: Price', 'Mitchell'),
 ('Family-Name: Davis', 'Watson'),
 ('last name: Morgan', 'Cooper'),
 ('EMPLOYEE LAST NAME: Hall', 'Duffy'),
 ('Last_Name: Schultz', 'Smith'),
 ('PARENT LAST NAME: Robinson', 'Barton'),
 ('PARENT LAST NAME: Perez', 'Moore'),
 ('RECIPIENT LAST NAME: Evans', 'Eaton'),
 ('family_name: Butler', 'Acosta'),
 ('Candidate-Last-Name: Reed', 'Lee'),
 ('Student_Last_Name: Hughes', 'Robles'),
 ('Candidate Last Name: Bennett', 'Ross'),
 ('STUDENTLASTNAME: Berger', 'Clark'),
 ('parent_last_name: Garcia', 'Lawson'),
 ('student last name: Pruitt', 'Rodgers'),
 ('Contestant-Last-Name: Scott', 'Miller')]

In [9]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [10]:
res['input_entity'] = input
res['output_entity'] = output

In [11]:
len(res)

5400

In [12]:
res.to_csv('LastName_data.csv', index=False)

In [13]:
res

                    input_entity output_entity
0          familyname: Fernandez        Garcia
1              FAMILYNAME: Jones        Farmer
2     EMPLOYEE_LAST_NAME: Hanson         Myers
3         StudentLastName: Olson        Tucker
4              FAMILYNAME: Price      Mitchell
...                          ...           ...
5395          family-name: Gomez         Scott
5396   mother's_last_name: Lewis     Mcconnell
5397     employeelastname: Gibbs        Wagner
5398  EmployeeLastName: Davidson        Valdez
5399  contestantlastname: Miller        Wilson

[5400 rows x 2 columns]