In [1]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()

In [2]:
labels = ['middle name', 'employee middle name', 'candidate middle name', 
'Contestant middle name', 'parent middle name', 
"Father's middle name", "Mother's middle name",
"recipient middle name", "student middle name"]

In [5]:
class MiddleNameGenerators:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        

        self.locales = ['en_AU', 'en_CA', 'en_GB', 'en_IE', 'en_IN', 'en_NZ', 'en_PH', 'en_TH', 'en_US']

    def generateMiddleNames(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for locale in self.locales:
            self.f = Faker(locale=locale)

            for i in range(self.num_of_samples):
                label = random.choice(labels)
                input_middle_name = self.f.first_name_male()
                output_middle_name = self.f.first_name_male()
                input_list.append(label + ': ' + input_middle_name)
                output_list.append(output_middle_name)

                label = random.choice(labels)
                input_middle_name = self.f.first_name_female()
                output_middle_name = self.f.first_name_female()
                input_list.append(label + ': ' + input_middle_name)
                output_list.append(output_middle_name)
        return input_list, output_list

In [7]:
middleNameGenerators = MiddleNameGenerators(num_of_samples=300)

In [8]:
input, output = middleNameGenerators.generateMiddleNames(labels)

In [9]:
list(zip(input, output))[:20]

[('MIDDLE-NAME: Kenneth', 'Mark'),
 ('Student Middle Name: Vanessa', 'Paula'),
 ('RECIPIENT-MIDDLE-NAME: Timothy', 'Christopher'),
 ("MOTHER'S-MIDDLE-NAME: Elizabeth", 'Roberta'),
 ('Candidate_Middle_Name: Steven', 'Michael'),
 ('Contestant_Middle_Name: Samantha', 'Donna'),
 ("mother's_middle_name: Nicholas", 'William'),
 ("mother'sMiddleName: Jessica", 'Meghan'),
 ('candidatemiddlename: Joshua', 'Terry'),
 ('CONTESTANT MIDDLE NAME: Jane', 'Kendra'),
 ('employee middle name: Jesus', 'William'),
 ("mother'sMiddleName: Carolyn", 'Rachel'),
 ('candidateMiddleName: Ryan', 'Matthew'),
 ('candidate middle name: Donna', 'Donna'),
 ('MIDDLE_NAME: James', 'Kenneth'),
 ('STUDENT_MIDDLE_NAME: Sylvia', 'Emily'),
 ('RECIPIENTMIDDLENAME: Roberto', 'William'),
 ('Student-Middle-Name: Patricia', 'Caitlin'),
 ('student-middle-name: John', 'Peter'),
 ("Mother'S_Middle_Name: Amy", 'Teresa')]

In [10]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [11]:
res['input_entity'] = input
res['output_entity'] = output

In [12]:
len(res)

5400

In [13]:
res.to_csv('MiddleName_data.csv', index=False)

In [14]:
res

                         input_entity output_entity
0                MIDDLE-NAME: Kenneth          Mark
1        Student Middle Name: Vanessa         Paula
2      RECIPIENT-MIDDLE-NAME: Timothy   Christopher
3     MOTHER'S-MIDDLE-NAME: Elizabeth       Roberta
4       Candidate_Middle_Name: Steven       Michael
...                               ...           ...
5395     FATHER'S MIDDLE NAME: Amanda        Sherri
5396    candidate middle name: Justin       Jeffrey
5397       father'smiddlename: Ashley         Amber
5398         parent-middle-name: Chad         Caleb
5399              middleName: Jessica       Barbara

[5400 rows x 2 columns]