In [2]:
from faker import Faker
import random
from generatorUtils import LabelTransformations

In [3]:
labels = ['year']

In [4]:
class YearGenerator:
    def __init__(self, num_of_samples):
        self.num_of_samples = num_of_samples
        self.labelTransformations = LabelTransformations()
        self.f = Faker()

    def generateYear(self, labels):
        labels = list(set(self.labelTransformations(labels)))

        inputs = []
        outputs = []

        for i in range(self.num_of_samples):
            label = random.choice(labels)
            input_year = self.f.year()
            output_year = self.f.year()
            inputs.append(label + ': ' + input_year)
            outputs.append(output_year)
        return inputs, outputs

In [5]:
yearGenerator = YearGenerator(num_of_samples=3000)

In [6]:
input, output = yearGenerator.generateYear(labels)

In [7]:
list(zip(input, output))[:20]

[('Year: 2005', '1970'),
 ('year: 1970', '1979'),
 ('Year: 2003', '2004'),
 ('Year: 1972', '2000'),
 ('Year: 1992', '1991'),
 ('Year: 1976', '1978'),
 ('Year: 2000', '1987'),
 ('year: 2001', '1983'),
 ('Year: 1998', '1989'),
 ('YEAR: 2007', '2006'),
 ('YEAR: 1971', '1978'),
 ('YEAR: 1989', '2022'),
 ('YEAR: 2021', '2006'),
 ('YEAR: 2000', '1988'),
 ('year: 2021', '1970'),
 ('year: 2020', '1991'),
 ('year: 1984', '1979'),
 ('year: 2019', '2000'),
 ('YEAR: 1972', '1980'),
 ('YEAR: 1990', '2015')]

In [8]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [9]:
res['input_entity'] = input
res['output_entity'] = output

In [10]:
len(res)

3000

In [11]:
res.to_csv('year_data.csv', index=False)

In [12]:
res

     input_entity output_entity
0      Year: 2005          1970
1      year: 1970          1979
2      Year: 2003          2004
3      Year: 1972          2000
4      Year: 1992          1991
...           ...           ...
2995   Year: 1971          1984
2996   YEAR: 1995          2013
2997   year: 1986          2002
2998   Year: 2009          2000
2999   YEAR: 1991          1974

[3000 rows x 2 columns]