In [1]:
from generatorUtils import LabelTransformations
import random
from faker import Faker
f = Faker()

In [3]:
labels = ['full name', 'employee full name', 'candidate full name', 
'Contestant full name', 'parent full name', 
"Father's full name", "Mother's full name",
"recipient full name", "student full name", "name"]

In [5]:
class FullNameGenerators:
    def __init__(self, num_of_samples):
        self.labelTransformations = LabelTransformations()
        self.num_of_samples = num_of_samples
        

        self.locales = ['en_AU', 'en_CA', 'en_GB', 'en_IE', 'en_IN', 'en_NZ', 'en_PH', 'en_TH', 'en_US']

    def generateFullNames(self, labels):
        labels = list(set(self.labelTransformations(labels)))
        input_list = []
        output_list = []

        for locale in self.locales:
            self.f = Faker(locale=locale)

            for i in range(self.num_of_samples):
                label = random.choice(labels)
                input_last_name = self.f.name_male()
                output_last_name = self.f.name_male()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)

                label = random.choice(labels)
                input_last_name = self.f.name_female()
                output_last_name = self.f.name_female()
                input_list.append(label + ': ' + input_last_name)
                output_list.append(output_last_name)
        return input_list, output_list

In [6]:
fullNameGenerators = FullNameGenerators(num_of_samples=300)

In [7]:
input, output = fullNameGenerators.generateFullNames(labels)

In [13]:
list(zip(input, output))[:20]

[('contestantFullName: David Pratt', 'Eric Ramirez'),
 ('candidateFullName: Hannah Greene', 'Deborah Fields'),
 ('PARENT-FULL-NAME: Nathan Williams', 'Logan Smith'),
 ('FullName: Jill Ayers', 'Carmen Adams'),
 ('student-full-name: Randy Reese', 'Ronald Reynolds'),
 ('FULLNAME: Rose Simmons', 'Kimberly Nunez'),
 ('RECIPIENT_FULL_NAME: Steven Hatfield', 'Ronald Delgado'),
 ('Student-Full-Name: Tammy Santiago', 'Patricia Reyes'),
 ('Contestant_Full_Name: Jeffrey Schaefer', 'William Robertson'),
 ('Contestant_Full_Name: Anna Adkins', 'Cathy Lucas'),
 ('contestant-full-name: Kenneth Hayden', 'David Davis'),
 ('RECIPIENT_FULL_NAME: Yvonne Cruz', 'Jennifer Harris'),
 ("FATHER'SFULLNAME: Darrell Rios", 'Anthony Anderson'),
 ('fullname: Catherine Zuniga', 'Colleen Reynolds'),
 ("FATHER'SFULLNAME: Peter Hamilton", 'Eugene Cruz'),
 ("Mother'SFullName: Tammy Williams", 'Frances Cobb'),
 ('Employee_Full_Name: Luis Young', 'Brendan Garcia'),
 ('candidate full name: Jessica Richardson', 'Kayla Williams'),
 ("MOTHER'S-FULL-NAME: Eddie King", 'David Yu'),
 ('EMPLOYEE_FULL_NAME: Kelsey Hill', 'Michelle Banks')]

In [14]:
import pandas as pd
res = pd.DataFrame(columns=['input_entity', 'output_entity'])

In [15]:
res['input_entity'] = input
res['output_entity'] = output

In [16]:
len(res)

5400

In [17]:
res.to_csv('FullName_data.csv', index=False)

In [18]:
res

                            input_entity      output_entity
0        contestantFullName: David Pratt       Eric Ramirez
1       candidateFullName: Hannah Greene     Deborah Fields
2      PARENT-FULL-NAME: Nathan Williams        Logan Smith
3                   FullName: Jill Ayers       Carmen Adams
4         student-full-name: Randy Reese    Ronald Reynolds
...                                  ...                ...
5395  RECIPIENT-FULL-NAME: Emily Carlson       Amanda Brown
5396    EMPLOYEE-FULL-NAME: Daniel Woods  Ronald Williamson
5397       Parent_Full_Name: Tara Mccall       Amber Watson
5398  Mother'SFullName: Benjamin Johnson     Eric Contreras
5399   mother's full name: Angela Willis      Brandi Castro

[5400 rows x 2 columns]